body {
  /* border: 2px solid black; */
  width: 80%;
  /* height: auto; */
  margin: auto;
  background-color: grey;


  /* background-image: url(images/kedi1.png);
  background-color: rgba(0,0,0,0.5) */
}
.kk-logo img{
  float: left;
  width: 100px;
  height: 80px;
  padding: 20px;

}
.top-buttons ul li{
  float: right;
  padding: 10px;

}
.top-buttons ul{
  list-style-type: none;
}
.general-description{
  text-align: center;
  font-size: 40px;
  font-style: italic;

}
.persona{
  float: left;
  width: 220px;
  padding: 15px;

}
